/* Universal Styles */

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #303030;
}

ul {
  display: flex;
  font-size: 14px;
  height: 100%;
  align-items: center;
  margin-left: 138px;
}

li::marker {
  display: none;
}

ul li {
  padding-right: 30px;
}

ul a {
  padding-right: 30px;
}

.Navigation {
  text-align: center;
  font: normal normal bold 14px/19px Noto Sans;
  letter-spacing: 0px;
  color: #BFB5A2;
  text-transform: uppercase;
  opacity: 1;
  height: 130px;
  background-color: #BFB5A2;
  justify-content: center;
}

.logo {
  top: 0px;
  left: 547px;
  width: 186px;
  height: 170px;
  background-color: #FFFFFF;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  opacity: 1;
}

.empty {
  top: 130px;
  left: 0px;
  width: 1280px;
  height: 21px;
  background: #D6CEBF;
  opacity: 1;
}





